

<div class="wrapper">

  <div class="inner">
      <div class="top">
          <mat-card>
              <mat-toolbar>
                  <mat-toolbar-row style="justify-content: space-between;">
                    <div class="top-value">
                        <i class="material-icons" *ngIf="count === 0">star_border</i>
                        <i class="material-icons" *ngIf="count > 0">star</i>
                        <span>Избранное:</span>
                        <span style="padding-top:5px;">{{count}}</span>
                    </div>
                    
                    <app-search></app-search>

                    <div class="top-select">
                        <mat-form-field>
                            <mat-select placeholder="Сортировать" [(value)]="selected">
                              <mat-option *ngFor="let sort of sorting" 
                              [value]="sort.value" 
                              [routerLink]="sort.sortPath">
                              {{ sort.viewValue }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                  </mat-toolbar-row>
                </mat-toolbar> 
          </mat-card>
            
        </div>

        <router-outlet></router-outlet>


  </div>
</div>