<div class="wrapper">
  <div class="inner"></div>

  <div class="login">
    <div class="title">
      <h2>Angilar Cinema Club</h2>
    </div>

    <nav>
      <a class="login_link" routerLink="/auth/login" routerLinkActive="nav_link_activ">Вход</a>
      <a class="reg_link" routerLink="/auth/registration" routerLinkActive="nav_link_activ">Регистрация</a>

      <div class="stub" (click)="showTooltip()"></div>

      <div class="tooltip" [ngClass]="{show: isShow}">
        <p>Эта функция станет доступна в скором времени</p>
      </div>
    </nav>

    <router-outlet></router-outlet>

  </div>
</div>