

<div class="wrapper">
    <div class="edge">
        <div class="edge_elem"></div>
        <div class="edge_elem"></div>
        <div class="edge_elem"></div>
        <div class="edge_elem"></div>
        <div class="edge_elem"></div>
        <div class="edge_elem"></div>
        <div class="edge_elem"></div>
        <div class="edge_elem"></div>
    </div>
    <div class="inner">
            <h2>WELCOME</h2>
            <h2>TO</h2>
            <h1>Angular Cinema Club</h1>

            <div class="button_box">
                <a [routerLink]="['/layout']">ENTER</a>
            </div>
            
    </div>
    <div class="edge">
            <div class="edge_elem"></div>
            <div class="edge_elem"></div>
            <div class="edge_elem"></div>
            <div class="edge_elem"></div>
            <div class="edge_elem"></div>
            <div class="edge_elem"></div>
            <div class="edge_elem"></div>
            <div class="edge_elem"></div>
    </div>
</div>