@import "../../../../variables";


.spinner_wrapper {
   
    display: flex;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(255,255,255, 0.5);

    .spinner {
        margin:auto;
        position: relative;

        .spinner_main_cir {
            height: 60px;
            width: 60px;
            border: 3px solid transparent;
            border-radius: 100%;
            border-top: 3px solid $main;
            border-bottom: 3px solid $main;
            animation: 3s rotateRight linear infinite;
        }
        .spinner_md_cir {
            position: absolute;
            top:5px;
            left:5px;
            height: 50px;
            width: 50px;
            border: 3px solid transparent;
            border-radius: 100%;
            border-left: 3px solid $main;
            border-right: 3px solid $main;
            animation: 3s rotateLeft linear infinite;
        }
        .spinner_sm_cir {
            position: absolute;
            top:10px;
            left:10px;
            height: 40px;
            width: 40px;
            border: 3px solid transparent;
            border-radius: 100%;
            border-left: 3px solid $main;
            border-right: 3px solid $main;
            animation: 3s rotateRight linear infinite;
        }

        @keyframes rotateRight {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        @keyframes rotateLeft {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(-360deg);
            }
        }
    }
}