@import "../../../../variables";



.wrapper {
    width: 90%;
    margin: auto;
    padding-top: 30px;

    .mat-form-field {
        width: 100%;
    }

    .login_btn {
        display: flex;
        margin-top: 15px;
        margin-bottom: 40px;

        .mat-button {
            height: 40px;
            margin: auto;
            width: 60%;
        }
    }

}