
<mat-tab-group>
    <mat-tab label="About Us">
        <div style="width: 60%;margin:auto;"> 

            <h2 style="text-align: center;padding-top:30px;color:#060a2d;">Welcome to Angular Cinema Club!</h2>
            <p style="color:#060a2d;">Lorem ipsum dolor sit amet, eam aliquid 
                    ornatus splendide ut, ea eos nostrud fabulas adipisci. Ius sapientem salutandi 
                    contentiones at. Vel unum populo te, partem elaboraret et vim, cum id facer 
                    suavitate. Sit te sint ignota, quas putant quo ea, ignota possit ad nec. 
                    Eu apeirian accusata efficiantur has, in nam graece scripta consequat.
                    No sanctus percipitur nam.
                    Lorem ipsum dolor sit amet, eam aliquid 
                    ornatus splendide ut, ea eos nostrud fabulas adipisci. Ius sapientem salutandi 
                    contentiones at. Vel unum populo te, partem elaboraret et vim, cum id facer 
                    suavitate. Sit te sint ignota, quas putant quo ea, ignota possit ad nec. 
                    Eu apeirian accusata efficiantur has, in nam graece scripta consequat.
                    No sanctus percipitur nam.
                    Lorem ipsum dolor sit amet, eam aliquid 
                    ornatus splendide ut, ea eos nostrud fabulas adipisci. Ius sapientem salutandi 
                    contentiones at. Vel unum populo te, partem elaboraret et vim, cum id facer 
                    suavitate. Sit te sint ignota, quas putant quo ea, ignota possit ad nec. 
                    Eu apeirian accusata efficiantur has, in nam graece scripta consequat.
                    No sanctus percipitur nam.
                    Lorem ipsum dolor sit amet, eam aliquid 
                    ornatus splendide ut, ea eos nostrud fabulas adipisci. Ius sapientem salutandi 
                    contentiones at. Vel unum populo te, partem elaboraret et vim, cum id facer 
                    suavitate. Sit te sint ignota, quas putant quo ea, ignota possit ad nec. 
                    Eu apeirian accusata efficiantur has, in nam graece scripta consequat.
                    No sanctus percipitur nam.
                    Lorem ipsum dolor sit amet, eam aliquid 
                    ornatus splendide ut, ea eos nostrud fabulas adipisci. Ius sapientem salutandi 
                    contentiones at. Vel unum populo te, partem elaboraret et vim, cum id facer 
                    suavitate. Sit te sint ignota, quas putant quo ea, ignota possit ad nec. 
                    Eu apeirian accusata efficiantur has, in nam graece scripta consequat.
                    No sanctus percipitur nam.
            </p>
            
            <p style="color:#060a2d;">
                    Lorem ipsum dolor sit amet, eam aliquid 
                    ornatus splendide ut, ea eos nostrud fabulas adipisci. Ius sapientem salutandi 
                    contentiones at. Vel unum populo te, partem elaboraret et vim, cum id facer 
                    suavitate. Sit te sint ignota, quas putant quo ea, ignota possit ad nec. 
                    Eu apeirian accusata efficiantur has, in nam graece scripta consequat.
                    No sanctus percipitur nam.
                    Lorem ipsum dolor sit amet, eam aliquid 
                    ornatus splendide ut, ea eos nostrud fabulas adipisci. Ius sapientem salutandi 
                    contentiones at. Vel unum populo te, partem elaboraret et vim, cum id facer 
                    suavitate. Sit te sint ignota, quas putant quo ea, ignota possit ad nec. 
                    Eu apeirian accusata efficiantur has, in nam graece scripta consequat.
                    No sanctus percipitur nam.
                    Lorem ipsum dolor sit amet, eam aliquid 
                    ornatus splendide ut, ea eos nostrud fabulas adipisci. Ius sapientem salutandi 
                    contentiones at. Vel unum populo te, partem elaboraret et vim, cum id facer 
                    suavitate. Sit te sint ignota, quas putant quo ea, ignota possit ad nec. 
                    Eu apeirian accusata efficiantur has, in nam graece scripta consequat.
                    No sanctus percipitur nam.
                    Lorem ipsum dolor sit amet, eam aliquid 
                    ornatus splendide ut, ea eos nostrud fabulas adipisci. Ius sapientem salutandi 
                    contentiones at. Vel unum populo te, partem elaboraret et vim, cum id facer 
                    suavitate. Sit te sint ignota, quas putant quo ea, ignota possit ad nec. 
                    Eu apeirian accusata efficiantur has, in nam graece scripta consequat.
                    No sanctus percipitur nam.
                    Lorem ipsum dolor sit amet, eam aliquid 
                    ornatus splendide ut, ea eos nostrud fabulas adipisci. Ius sapientem salutandi 
                    contentiones at. Vel unum populo te, partem elaboraret et vim, cum id facer 
                    suavitate. Sit te sint ignota, quas putant quo ea, ignota possit ad nec. 
                    Eu apeirian accusata efficiantur has, in nam graece scripta consequat.
                    No sanctus percipitur nam.
            </p>
        </div>
        <div style="width: 20%;margin:auto;margin-top:60px;display: flex;align-items: center;justify-content: center;">
            <img src="assets/img/movie_cam.svg" height="200px" width="180px" alt="movie camera">
        </div>
        </mat-tab>
    <mat-tab label="Contacts">
        <div style="width: 100%;margin-top:200px;background:#060a2d;">
            <div style="width: 12%;margin:auto;padding:30px 0px;">
                    <div style="display: flex;align-items: center;">
                        <i class="fas fa-user-graduate fa-2x" style="padding-right:15px;color:#fff"></i>
                        <p style="color:#fff;">Eugen Pavlov</p>
                    </div>
                    <div style="display: flex;align-items: center;margin-top:30px;">
                        <i class="fas fa-mobile-alt fa-2x" style="padding-right:15px;color:#fff"></i>
                        <p style="color:#fff;">067 123 45 67</p>
                    </div>
                    <div style="display: flex;align-items: center;margin-top:30px;">
                        <i class="fas fa-at fa-2x" style="padding-right:15px;color:#fff"></i>
                        <p style="color:#fff;">eugen.pavlov@gmail.com</p>
                    </div>
                </div>
        </div>

        <div style="width: 20%;margin:auto;margin-top:90px;display: flex;align-items: center;justify-content: center;">
            <img src="assets/img/camera.png" height="200px" width="180px" alt="movie camera">
        </div>
                
    </mat-tab>
  </mat-tab-group>