<div class="wrapper">
    <h2>Вас приветствует Angular Cinema Club!</h2>


    <div class="films">
        <a routerLink="/films">Фильмы</a>
        <div class="films_box">
            <div class="films_box_card" *ngFor="let film of films">
                <div class="film_card" [routerLink]="[ '/films', film.id]">
                    <div class="img_box">
                        <img [src]="apiService.getSmallPosters(film.poster_path)" alt="{{film.title}}">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="actors">
        <a routerLink="/actors">Актеры</a>
        <div class="actors_box">
            <div class="actors_box_card" *ngFor="let actor of actors">
                <div class="actors_card" [routerLink]="[ '/actors', actor.id]">

                    <div class="img_box">
                        <img [src]="apiService.getSmallPosters(actor.profile_path)" alt="{{actor.name}}">
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>