/* You can add global styles to this file, and also import other style files */

body { 
    margin: 0; 
    padding:0;
    font-size: 1em;

    & button {
        border:none;
        outline:none;
    }
}

@import "./variables.scss";

@import '~@angular/material/prebuilt-themes/indigo-pink.css';


.mat-toolbar.mat-primary {
    background: $main;
}

.mat-tab-labels {
    justify-content: center;
}

.mat-tab-label .mat-tab-label-content {
    font-size: 1.125em;
    color: $main;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background: $main !important;
}

.mat-button-focus-overlay {
    background: none !important;
}


.mat-form-field {
    font-size: 16px !important;
    line-height: 20px;
    font-weight: 300;
}

.mat-form-field-infix {
    padding-bottom: 3px !important;
    width: 130px !important;
}

.mat-option-text {
    font-size: 16px;
    font-weight: 300;
}