/* You can add global styles to this file, and also import other style files */

body { 
    margin: 0; 
    padding:0;
    font-size: 1em;

    & button {
        border:none;
        outline:none;
    }
}

@import "./variables.scss";

@import '~@angular/material/prebuilt-themes/indigo-pink.css';


.mat-toolbar.mat-primary {
    background: $main;
}

.mat-card {
    padding:0 !important;
    height: 621px !important;
}

.mat-card>.mat-card-actions:last-child {
    margin:0 !important;
}

.mat-card-header {
    background: #e7e7ee;
    padding-top: 15px;
    height: 50px;
}



.mat-card-title {
    color: $main;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.500em !important;
    
}

.mat-card-subtitle {
    color: $main;
}

.mat-card-content {
    height: 75px;
    background: #e7e7ee;
    padding: 15px 10px 0px 10px;
    margin-bottom:0 !important;
    & p {
        color: $main;
        font-size: 0.913em;
    }
}

.mat-card-actions {
    padding: 10px 10px !important;
    background: #e7e7ee;

    .mat-button-focus-overlay {
        background: transparent !important;
    }
    .mat-button-wrapper {
        color: $main !important;
    }
}
.mat-card-image {
    margin:0 !important;
    height: 405px !important;
    width: 498px !important;
}
.mat-grid-tile {
    width: 27% !important;
    height: 626px !important;
    padding-top: 0 !important;
    margin-bottom: 30px !important;
}

.mat-grid-tile .mat-figure {
    height: 627px !important;
}

.mat-card-header .mat-card-subtitle:not(:first-child) {
    margin-top: -13px !important;
}


.mat-tab-labels {
    justify-content: center;
}

.mat-tab-label .mat-tab-label-content {
    font-size: 1.125em;
    color: $main;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background: $main !important;
}